{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script defer>
      var myRotateElement = document.getElementById('rotate-box');
      var myPinchElement = document.getElementById('pinch-box');
      var myPressElement = document.getElementById('press-box');
      var myPanElement = document.getElementById('pan-box');
      var myTapElement = document.getElementById('tap-box');
      var mySwipeElement = document.getElementById('swipe-box');
      
    
      // create a simple instance
      // by default, it only adds horizontal recognizers
      var mc_rotate = new Hammer(myRotateElement);
      var mc_pinch = new Hammer(myPinchElement);
    
    
      var mc_press = new Hammer(myPressElement);
      var mc_pan = new Hammer(myPanElement);
      var mc_tap = new Hammer(myTapElement);
      var mc_swipe = new Hammer(mySwipeElement);
    
    

//       var rotate = new Hammer.Rotate({enable:true});
//       var pinch = new Hammer.Pinch({enable:true});
//       mc_rotate.add(rotate);
//       mc_pinch.add(pinch);

      
      mc_pinch.get('pinch').set({ enable: true })
      mc_rotate.get('rotate').set({ enable: true })

      
      mc_pan.get('pan').set({ direction: Hammer.DIRECTION_HORIZONTAL });
    
      // listen to events...
      mc_rotate.on("rotate", function(ev) {
        var rotate_box_element = document.getElementById('rotate-box');
        rotate_box_element.style.height = "40px";
        rotate_box_element.style.width = "40px";
      });

    
      mc_pinch.on("pinch", function(ev) {
        var pinch_box_element = document.getElementById('pinch-box');
        pinch_box_element.style.color = "red";
      });

      mc_press.on("press", function(ev) {
        var press_box_element = document.getElementById('press-box');
        press_box_element.style.opacity= 0.5;
        
      });

      mc_pan.on("pan", function(ev) {
        var pan_box_element = document.getElementById('pan-box');
        pan_box_element.style.fontSize= "26px";
      });

      mc_tap.on("tap", function(ev) {
         var tap_box_element = document.getElementById('tap-box');
         tap_box_element.style.display = "none";
      });

      mc_swipe.on("swipe", function(ev) {
         var swipe_box_element = document.getElementById('swipe-box');
         swipe_box_element.style.backgroundColor = "red"; 
      });
      
    
  </script>
</body>
</html>
